* {
  box-sizing: border-box;
}

body {
  padding: 200px;
  font-family: "Open Sans", sans-serif;
  background-image: url("/assets/images/ocean.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

h1 {
  color: #111;
  font-family: "Raleway", sans-serif;
  font-size: 90px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}

#grid {
  .col {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
  }
  .row {
    height: 50px;
  }
}

.col-1 {
  width: 50px;
  background-color: white;
  opacity: 0.75;
}

.pointer {
  cursor: pointer;
}

.ship {
  background-image: url("/assets/images/ship.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1400px) {
  body {
    padding: 50px;
  }

  #main-section {
    max-width: 500px;
  }
  #grid {
    .col + .col {
      margin-top: 30px;
    }
  }
}
